        html {
            background-color: black;
        }
        
        h3 {
            font-style: oblique;
            color: crimson
        }
        
        ol li {
            color: chartreuse;
            font-style: italic;
        }
        
        table {
            border: 1px solid black;
        }
        
        td {
            border: 1px solid crimson;
            color: chartreuse;
            font-style: italic;
        }
        
        p {
            font-size: 20px;
            color: crimson
        }
        
        #quote {
            color: aqua
        }
        
        span#author {
            font-family: Arial, Helvetica, sans-serif;
            color: darkorchid
        }
        
        th {
            font-family: 'Times New Roman', Times, serif;
            color: crimson
        }
        
        form {
            color: crimson;
        }